.top-area{
    text-align: center; font-family:"Times New Roman", Times, serif; color: black;
}
.first-hr{
    margin-top: 10px; margin-bottom: 30; width: 100%;
}
.second-hr{
    margin-top: 30px; width: 100%;
}
.container {
   width: 100%;
}
.container.second{
    margin-top: 100px;
}
.row{
    width: 100%; display: flex;
}

.col-6.table{
	   border: solid; padding:3%; border-color: gainsboro; text-align: center;margin: 3px; 
}
#hero{
    width: 200; margin-bottom: 15;
}
#zero{
    width: 130;
}
#drop1{
    width: 100;
}
#inti{
    width: 250; margin-bottom: 15;
}
#d2li{
    width: 200; margin-bottom: 15;
}
.col-4.table{
    border: solid; padding: 3%; border-color: gainsboro; text-align: center; margin: 3px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
/*####mobile####*/

@media screen and (max-width: 680px) {
	.row{
    width: 100%; display: block
	}
	.container {
   width: 200%;
	}
	.container.second {
   width: 300%;
	}
	.top-area{
    text-align: left;
	}

}
